.homeBox {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 0.25rem;

    .navBox {
        display: flex;
        justify-content: center;
        padding: 0.25rem;
        background-color: bisque;
        font-size: 0.25rem;
        a {
            width: 50%;
            color: #000;
            text-align: center;
            &.linkActive {
                color: darkorange;
            }
        }
    }
    .pageBox {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        height: calc(~'100% - 0.25rem');
    }
}
